In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings(action='ignore')

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
loan = pd.read_csv('loan.csv')
data_dict = pd.read_excel('Data_Dictionary.xlsx')

In [4]:
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [5]:
loan.shape

(39717, 111)

In [5]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

In [9]:
data_dict.rename(columns={'LoanStatNew':'LoanStat'},inplace=True)

In [18]:
print(f'Empty rows: {loan.isnull().all(axis=1).sum()}')
print(f'Empty columns: {loan.isnull().all(axis=0).sum()}')

Empty rows: 0
Empty columns: 54

`There are 54 Variables which have only null values we can drop them as they're of no use.`

In [6]:
cols_with_null = loan.isnull().all(axis=0).to_frame().reset_index()
cols_with_null.columns = ['Variable','null_status']
cols_with_null[cols_with_null['null_status']==True]
# loan[cols_with_null[['Variable']]

                           Variable  null_status
50      mths_since_last_major_derog         True
53                 annual_inc_joint         True
54                        dti_joint         True
55        verification_status_joint         True
57                     tot_coll_amt         True
58                      tot_cur_bal         True
59                      open_acc_6m         True
60                       open_il_6m         True
61                      open_il_12m         True
62                      open_il_24m         True
63               mths_since_rcnt_il         True
64                     total_bal_il         True
65                          il_util         True
66                      open_rv_12m         True
67                      open_rv_24m         True
68                       max_bal_bc         True
69                         all_util         True
70                 total_rev_hi_lim         True
71                           inq_fi         True
72                      total_cu_tl         True
73                     inq_last_12m         True
74             acc_open_past_24mths         True
75                      avg_cur_bal         True
76                   bc_open_to_buy         True
77                          bc_util         True
80               mo_sin_old_il_acct         True
81             mo_sin_old_rev_tl_op         True
82            mo_sin_rcnt_rev_tl_op         True
83                   mo_sin_rcnt_tl         True
84                         mort_acc         True
85             mths_since_recent_bc         True
86         mths_since_recent_bc_dlq         True
87            mths_since_recent_inq         True
88   mths_since_recent_revol_delinq         True
89            num_accts_ever_120_pd         True
90                   num_actv_bc_tl         True
91                  num_actv_rev_tl         True
92                      num_bc_sats         True
93                        num_bc_tl         True
94                        num_il_tl         True
95                    num_op_rev_tl         True
96                    num_rev_accts         True
97              num_rev_tl_bal_gt_0         True
98                         num_sats         True
99                 num_tl_120dpd_2m         True
100                    num_tl_30dpd         True
101              num_tl_90g_dpd_24m         True
102              num_tl_op_past_12m         True
103                  pct_tl_nvr_dlq         True
104                percent_bc_gt_75         True
107                 tot_hi_cred_lim         True
108               total_bal_ex_mort         True
109                  total_bc_limit         True
110      total_il_high_credit_limit         True

In [10]:
cols_null_info = loan.isna().any(axis=0).to_frame().reset_index()
cols_null_info.columns = ['LoanStat','null_status']
cols_null_info = cols_null_info.merge(data_dict, on='LoanStat', how='left')
cols_null_info = cols_null_info[data_dict.columns.to_list() + ['null_status']]
cols_null_info

,LoanStat,Description,null_status
0,id,A unique LC assigned ID for the loan listing.,False
1,member_id,A unique LC assigned Id for the borrower member.,False
2,loan_amnt,The listed amount of the loan applied for by t...,False
3,funded_amnt,The total amount committed to that loan at tha...,False
4,funded_amnt_inv,The total amount committed by investors for th...,False
5,term,The number of payments on the loan. Values are...,False
6,int_rate,Interest Rate on the loan,False
7,installment,The monthly payment owed by the borrower if th...,False
8,grade,LC assigned loan grade,False
9,sub_grade,LC assigned loan subgrade,False
10,emp_title,The job title supplied by the Borrower when ap...,True
11,emp_length,Employment length in years. Possible values ar...,True
12,home_ownership,The home ownership status provided by the borr...,False
13,annual_inc,The self-reported annual income provided by th...,False
14,verification_status,"Indicates if income was verified by LC, not ve...",False
15,issue_d,The month which the loan was funded,False
16,loan_status,Current status of the loan,False
17,pymnt_plan,Indicates if a payment plan has been put in pl...,False
18,url,URL for the LC page with listing data.,False
19,desc,Loan description provided by the borrower,True
20,purpose,A category provided by the borrower for the lo...,False
21,title,The loan title provided by the borrower,True
22,zip_code,The first 3 numbers of the zip code provided b...,False
23,addr_state,The state provided by the borrower in the loan...,False
24,dti,A ratio calculated using the borrower’s total ...,False
25,delinq_2yrs,The number of 30+ days past-due incidences of ...,False
26,earliest_cr_line,The month the borrower's earliest reported cre...,False
27,inq_last_6mths,The number of inquiries in past 6 months (excl...,False
28,mths_since_last_delinq,The number of months since the borrower's last...,True
29,mths_since_last_record,The number of months since the last public rec...,True
30,open_acc,The number of open credit lines in the borrowe...,False
31,pub_rec,Number of derogatory public records,False
32,revol_bal,Total credit revolving balance,False
33,revol_util,"Revolving line utilization rate, or the amount...",True
34,total_acc,The total number of credit lines currently in ...,False
35,initial_list_status,The initial listing status of the loan. Possib...,False
36,out_prncp,Remaining outstanding principal for total amou...,False
37,out_prncp_inv,Remaining outstanding principal for portion of...,False
38,total_pymnt,Payments received to date for total amount funded,False
39,total_pymnt_inv,Payments received to date for portion of total...,False
40,total_rec_prncp,Principal received to date,False
41,total_rec_int,Interest received to date,False
42,total_rec_late_fee,Late fees received to date,False
43,recoveries,post charge off gross recovery,False
44,collection_recovery_fee,post charge off collection fee,False
45,last_pymnt_d,Last month payment was received,True
46,last_pymnt_amnt,Last total payment amount received,False
47,next_pymnt_d,Next scheduled payment date,True
48,last_credit_pull_d,The most recent month LC pulled credit for thi...,True
49,collections_12_mths_ex_med,Number of collections in 12 months excluding m...,True
50,mths_since_last_major_derog,Months since most recent 90-day or worse rating,True
51,policy_code,publicly available policy_code=1\nnew products...,False
52,application_type,Indicates whether the loan is an individual ap...,False
53,annual_inc_joint,The combined self-reported annual income provi...,True
54,dti_joint,A ratio calculated using the co-borrowers' tot...,True
55,verification_status_joint,NaN,True
56,acc_now_delinq,The number of accounts on which the borrower i...,False
57,tot_coll_amt,Total collection amounts ever owed,True
58,tot_cur_bal,Total current balance of all accounts,True
59,open_acc_6m,Number of open trades in last 6 months,True
60,open_il_6m,Number of currently active installment trades,True
61,open_il_12m,Number of installment accounts opened in past ...,True
62,open_il_24m,Number of installment accounts opened in past ...,True
63,mths_since_rcnt_il,Months since most recent installment accounts ...,True
64,total_bal_il,Total current balance of all installment accounts,True
65,il_util,Ratio of total current balance to high credit/...,True
66,open_rv_12m,Number of revolving trades opened in past 12 m...,True
67,open_rv_24m,Number of revolving trades opened in past 24 m...,True
68,max_bal_bc,Maximum current balance owed on all revolving ...,True
69,all_util,Balance to credit limit on all trades,True
70,total_rev_hi_lim,NaN,True
71,inq_fi,Number of personal finance inquiries,True
72,total_cu_tl,Number of finance trades,True
73,inq_last_12m,Number of credit inquiries in past 12 months,True
74,acc_open_past_24mths,Number of trades opened in past 24 months.,True
75,avg_cur_bal,Average current balance of all accounts,True
76,bc_open_to_buy,Total open to buy on revolving bankcards.,True
77,bc_util,Ratio of total current balance to high credit/...,True
78,chargeoff_within_12_mths,Number of charge-offs within 12 months,True
79,delinq_amnt,The past-due amount owed for the accounts on w...,False
80,mo_sin_old_il_acct,Months since oldest bank installment account o...,True
81,mo_sin_old_rev_tl_op,Months since oldest revolving account opened,True
82,mo_sin_rcnt_rev_tl_op,Months since most recent revolving account opened,True
83,mo_sin_rcnt_tl,Months since most recent account opened,True
84,mort_acc,Number of mortgage accounts.,True
85,mths_since_recent_bc,Months since most recent bankcard account opened.,True
86,mths_since_recent_bc_dlq,Months since most recent bankcard delinquency,True
87,mths_since_recent_inq,Months since most recent inquiry.,True
88,mths_since_recent_revol_delinq,Months since most recent revolving delinquency.,True
89,num_accts_ever_120_pd,Number of accounts ever 120 or more days past due,True
90,num_actv_bc_tl,Number of currently active bankcard accounts,True
91,num_actv_rev_tl,Number of currently active revolving trades,True
92,num_bc_sats,Number of satisfactory bankcard accounts,True
93,num_bc_tl,Number of bankcard accounts,True
94,num_il_tl,Number of installment accounts,True
95,num_op_rev_tl,Number of open revolving accounts,True
96,num_rev_accts,Number of revolving accounts,True
97,num_rev_tl_bal_gt_0,Number of revolving trades with balance >0,True
98,num_sats,Number of satisfactory accounts,True
99,num_tl_120dpd_2m,Number of accounts currently 120 days past due...,True
100,num_tl_30dpd,Number of accounts currently 30 days past due ...,True
101,num_tl_90g_dpd_24m,Number of accounts 90 or more days past due in...,True
102,num_tl_op_past_12m,Number of accounts opened in past 12 months,True
103,pct_tl_nvr_dlq,Percent of trades never delinquent,True
104,percent_bc_gt_75,Percentage of all bankcard accounts > 75% of l...,True
105,pub_rec_bankruptcies,Number of public record bankruptcies,True
106,tax_liens,Number of tax liens,True
107,tot_hi_cred_lim,Total high credit/credit limit,True
108,total_bal_ex_mort,Total credit balance excluding mortgage,True
109,total_bc_limit,Total bankcard high credit/credit limit,True
110,total_il_high_credit_limit,Total installment high credit/credit limit,True

In [12]:
cols_null_info[cols_null_info['null_status']==False].shape

(43, 3)